<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ film?.title }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>

    <ion-card *ngIf="film">
        <ion-card-content>
            {{ film.opening_crawl }}
        </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="shareFilm()">Share by Email</ion-button>

</ion-content>